<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Annuaire CoopTech (POC)</title>
</head>

<body style="background-color: #D7D7D7; padding: 1em;">
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
    </noscript>
    
    <h2 id="title-demo" class="pt-6 title is-flex is-align-items-center is-justify-content-center has-text-white">
      <p>
        <a href="https://gitlab.com/multi-coop/datami" target="_blank">
          <img src="https://gitlab.com/multi-coop/datami/-/raw/main/public/logo_DATAMI_title.png" alt="logo datami" style="height: 50px !important; width: auto !important">
        </a>
      </p>
    </h2>
    
    <div class="container has-text-dark">
      <div class="content my-6 px-6">
        <p class="is-size-6">
          L'import du widget <code>Datami</code> dans une page html permet d'afficher sur un site tiers des données hébergées sur github, gitlab ou dans un wiki.
        </p>
      <p class="">
        L'import du widget consiste à simplement copier-coller quelques lignes de code dans la page html de votre choix.
      </p>
      <p class="">
        Le widget est paramétrable et il peut être utilisé indistinctement et séparément pour différents jeux de données.
      </p>
      <p class="">
        Le widget est sous licence libre et il n'y a aucun coût ou surcoût dans l'utilisation du widget.
      </p>
      <p class="">
        Plusieurs fonctionnalités sont intégrées au widget Datami : 
        <ul>
          <li class="">
            Filtres de sélection (paramétrables) ;
          </li>
          <li class="">
            Redirection vers le site source depuis les fiches détaillées ;
          </li>
          <li class="">
            Rechargement des données source ;
          </li>
          <li class="">
            Possibilité de télécharger les données au format .tsv ;
          </li>
          <li class="">
            ...et bien plus encore. Plus de d'infos dans la 
            <a href="https://datami-docs.multi.coop" target="_blank" class="is-underlined">
              documentation en ligne.
            </a>
          </li>
        </ul>
      </p>
    </div>


    <p id="datami-csv-github-cooptech" class="ml-4 pt-6 subtitle has-text-dark">
      <a href="/#datami-csv-github-cooptech" class="has-text-dark" style="margin-right:  0.5em;">
        #
      </a>
      Liste des coopératives de la tech en France
    </p>
    <div style="background-color: white; margin: 1em;">

      <!-- GITRIBUTE - contribute with GIT ...but without minding it-->
      <!-- An open source widget coded with 🤍  by the tech cooperative multi : https://multi.coop -->

      <!-- GITRIBUTE WIDGET'S HTML BLOCK-->
      <datami-file
      title="Liste des coopératives de la tech en France"
      gitfile="https://github.com/multi-coop/gitribute-content-test/blob/main/data/csv/cooptech/Annuaire-SCOP-SCIC-tech-France.csv"
      options='{
      "height": "500px",
      "separator": ",",
      "lockcolumns": true,
      "tagseparator": ",",
      "customfilters": {
        "activate": true,
        "filterfields": [
          "type",
          "Statut juridique"
        ],
        "tagsSeparator": ","
      },
      "schema": {
        "file": "https://github.com/multi-coop/gitribute-content-test/blob/main/data/json/cooptech/Annuaire-SCOP-SCIC-tech-France-schema.json"
      },
      "fields-custom-properties": {
        "file": "https://github.com/multi-coop/gitribute-content-test/blob/main/data/json/cooptech/Annuaire-SCOP-SCIC-tech-France-fields-custom-props.json"
      },
      "customsorting": {
        "activate": true,
        "sortfields": [
          {
            "name": "Nom"
          }
        ]
      },
      "pagination": {
        "itemsPerPage": 20
      },
      "cardsview": {
        "activate": true,
        "default": false
      },
      "cardsdetail": true,
      "cardssettings": {
        "mini": {
          "Nom": {
            "position": "title"
          },
          "Présentation": {
            "position": "description"
          },
          "Site internet": {
            "position": "description"
          },
          "Statut juridique": {
            "position": "tags"
          },
          "Domaine(s)": {
            "position": "tags"
          }
        },
        "detail": {
          "Nom": {
            "position": "title"
          },
          "Site internet": {
            "position": "description"
          },
          "Présentation": {
            "position": "description"
          },
          "Numéro SIREN": {
            "position": "description"
          },
          "Adresse": {
            "position": "description"
          },
          "Statut juridique": {
            "position": "tags"
          },
          "Domaine(s)": {
            "position": "tags"
          },
          "Fiche URSCOP": {
            "position": "links"
          }
        }
      }
    }'
      onlypreview="false"
      locale="fr"
    />
    <!-- An open source widget coded with 🤍  by the tech cooperative multi.coop -->
    
    <!-- GITRIBUTE WIDGET'S APP.JS SCRIPT -->
    <script src="https://datami-widget.multi.coop/js/app.js" type="text/javascript" defer/>
    </script>
  </div>

  <p id="page-credits" class="mt-6 has-text-centered has-text-white">
    Un projet numérique en partenariat avec
    <a href="https://www.cooptech.fr/" target="_blank" class="has-text-white is-underlined">
      la CoopTech
    </a>
    <br>
    Codé par la coopérative numérique 
    <a href="https://multi.coop" target="_blank" class="has-text-white is-underlined">
      multi
    </a>
  </p>
  <p id="page-credits" class="my-6 is-flex is-align-items-center is-justify-content-center">
    <a href="https://www.cooptech.fr/" class="mr-6" target="_blank">
      <img src="https://gitlab.com/multi-coop/gitribute-cooptech/-/raw/main/images/cooptech_logo.svg" alt="logo ademe" style="height: 30px !important; width: auto !important">
    </a>
    <a href="https://multi.coop" class="" target="_blank">
      <img src="https://gitlab.com/multi-coop/gitribute-cooptech/-/raw/main/images/multi-logo.png" alt="logo multi" style="height: 50px !important; width: auto !important">
    </a>
  </p>

</body>

</html>
